<div class="pny-banner">
  <div class="pny-banner--content">
    <h2 class="pny-banner--title">Supplier Stores</h2>
    <p>
      Visit the supplier store and start dealing with your supplier. With Penny marketplace is one stop to send RFQs, Direct Purchase Orders to your suppliers. Track your delivery, bills & payments History and much more...
    </p>
    <mat-form-field appearance="legacy" floatLabel="never" class="pny-banner--search">
      <input matInput placeholder="Search product or service" autocomplete="off" />
      <button mat-mini-fab color="primary">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </div>
</div>